
<li>
	{{name}}

	<button class="order-burger" data-id="{{id}}" data-newburger="{{eat}}">
		{{#if eat}}Order{{else}}Devour!{{/if}}
	</button>

	<button class="devour-burger" data-id="{{this.id}}">Devour</button>
</li> 



